body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

input {
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 250px;
}

h2 {
  font-size: 2rem;
  margin-top: 15px;
  color: #333;
}
